<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
                <binding name="MetadataBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="MetadataBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://login.salesforce.com/services/Soap/c/41.0"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="SalesforceEnterpriseClient.Soap" name="Soap" />
            <endpoint address="https://login.salesforce.com/services/Soap/m/41.0"
                binding="basicHttpBinding" bindingConfiguration="MetadataBinding"
                contract="SalesforceMetadataClient.MetadataPortType" name="Metadata" />
        </client>
    </system.serviceModel>
</configuration>